@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {height: 100%; width: 100%; margin: 0; padding: 0; background-color: rgba(225, 223, 219, .2);}
body {opacity: 0; transition: opacity 2s; overflow-x: hidden;}
header {margin: 0 auto; width: 80vw;}
main {width: 80vw; margin: auto; padding-top: 20pt;}

h1 {font-weight: 400;}
strong {font-weight: 600;}

/******** HEADER ********/
.banner-container {
  border-bottom: solid;
  border-color: lightgrey;
  border-width: 1px;
  height: 40px;
  overflow: hidden;
}

.banner, .banner a:link {
  padding-top: 15px;
  position: relative;
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 10pt;
  font-weight: 600;
  text-decoration: none;
  opacity: 80%;
  animation: slide-left 20s linear infinite;
}

.banner:hover {
  animation-play-state: paused;
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
}

.intro {
  font-family: 'Work Sans', sans-serif;
  font-size: 22pt;
  text-align: left;
  margin-top: 5em;
}

@media (max-width: 768px) {
  .intro {
    font-size: 15pt;
  }
}

#myname a:link {
  font-family: 'Space Mono', monospace;
  font-size: 60pt;
  font-weight: 700;
  line-height: 1em;
  color:  rgb(228, 117, 213);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  #myname a:link {
    font-size: 30pt;
  }
}

#myname a:visited {
  color: rgb(228, 117, 213);
  text-decoration: none;
}

#intro-abt {
  margin-top: .5em;
  line-height: 1.3;
}

#intro-cat {
  margin-top: 0;
}

#category {
  color: rgb(119, 117, 228);
  background-color: rgba(202, 253, 255, 0.623);
  font-weight: 500;
  text-decoration: none;
  transition: background-color .3s ;
  transition-timing-function: ease-in-out;
}

#category:hover {
  background-color: #fffab4;
}

/******** HEADER END ********/


/******** MAIN START ********/
.grid-title {
  margin-top: 5em;
  margin-bottom: 2em;
  padding: 15px;
  text-align: center;
  font-size: 15pt;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  color: black;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

@media (max-width: 768px) { .grid-container {
   grid-template-columns: 1fr;
  }
}

.grid-container div {
  text-align: center;
  width: 100%;
  transition: transform .3s ;
  transition-timing-function: ease-in-out;
}

.grid-container img {
  width: 100%;
}
/******** MAIN END ********/

/******** FOOTER START ********/
.intro-btn {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
}

.intro-btn button {
  display: block;
  font-family: 'Space Mono', monospace;
  font-weight: 400; 
  font-size: 15pt;
  color: black;
  border: none;
  text-decoration: none;
  background-color: white;
  margin-left: 10px;

  padding: 5px;
  transition: background-color .2s ;
  transition-timing-function: ease-in-out;
}

.intro-btn button:hover {background-color: rgb(255, 207, 74); cursor: pointer;}

.intro-btn button:modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}



/******** FOOTER END ********/